<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>Registration</h2>
<form ng-submit="register()">
  <div>
    <label for="username">Username:</label>
    <input ng-model="text" id="username"  placeholder="riya@gmail.com" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input ng-model="password" id="password" placeholder="@123" required>
  </div>
  <button type="submit">Register</button>
</form>
</body>
</html>

  