<div class="grid-container">
  <table>
      <thead>
          <tr>
              <th>Club_Name</th>
              <th>Team_Members</th>
              <th>Participation_count</th>
              <th>Winning_Count</th>
              <th>Member</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of rows; let rowIndex = index">
              <td *ngFor="let cell of row; let colIndex = index" contentEditable="true" (input)="updateCell(rowIndex, colIndex, $event.target.innerText)">{{ cell }}</td>
          </tr>
      </tbody>
  </table>
</div>
<button (click)="addRow()">Add Row</button>
<button (click)="deleteRow()">Delete Row</button>
