<div class="grid-container">
  <table class="grid-table">
    <thead>
      <tr>
        <th>Club Name</th>
        <th>No of Players</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of gridData; let i = index">
        <td>{{ item.name }}</td>
        <td>{{ i + 1 }}</td>
        <td><button class="delete-button" (click)="deleteRow(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <button class="add-button" (click)="addRow()">Add Row</button>
</div>
