.grid-container {
  margin-top: 20px;
  background-color: black;
  background-image: url("https://i.pinimg.com/736x/dc/50/be/dc50be88ee6a09345d6d73f567a79527.jpg");
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #fff;
}

th, td {
  padding: 10px;
  color: #fff;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
