.grid-container {
    background-color: #000;
    color: #fff;
    padding: 20px;
    background-image: url("https://i.pinimg.com/736x/dc/50/be/dc50be88ee6a09345d6d73f567a79527.jpg");
  }

  .grid-table {
    width: 100%;
    border-collapse: collapse;
  }

  .grid-table th,
  .grid-table td {
    padding: 10px;
    border: 1px solid #fff;
  }

  .add-button,
  .delete-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .add-button:hover,
  .delete-button:hover {
    background-color: #555;
  }